:root {
  --editor-color: var(--foreground);
  --editor-background-color: var(--background);
  --editor-border-color: var(--border);

  --editor-font-size: 14px;
  --editor-line-height: 24px;

  --editor-default-padding: 0.5rem 1.5rem;
}

@media (min-width: 640px) {
  :root {
    --editor-font-size: 18px;
    --editor-line-height: 28px;

    --editor-default-padding: 1rem 3rem;
  }
}

.w-md-editor {
  margin: 8px 0 0;
  height: 100% !important;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  position: relative;
  overflow: auto;
}

.w-md-editor-bar {
  display: none;
}

.w-md-editor-bar svg {
  display: block;
  margin: 0 auto;
}

.w-md-editor-area {
  overflow: auto;
  background-color: var(--editor-background-color);
}

.w-md-editor-text {
  position: relative;
  text-align: left;
  white-space: pre-wrap;
  word-break: keep-all;
  overflow-wrap: break-word;
  box-sizing: border-box;
  padding: var(--editor-default-padding);
  margin: 0;
  font-size: var(--editor-font-size) !important;
  line-height: var(--editor-line-height) !important;
  font-variant-ligatures: common-ligatures;
}

.w-md-editor-text-pre,
.w-md-editor-text-input,
.w-md-editor-text > .w-md-editor-text-pre {
  margin: 0;
  border: 0;
  background: none;
  box-sizing: inherit;
  display: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  tab-size: inherit;
  text-indent: inherit;
  text-rendering: inherit;
  text-transform: inherit;
  white-space: inherit;
  overflow-wrap: inherit;
  word-break: inherit;
  padding: 0;
}

.w-md-editor-text-pre {
  position: relative;
  margin: 0 !important;
  pointer-events: none;
  background-color: var(--editor-background-color) !important;
}

.w-md-editor-text-pre > code {
  padding: 0 !important;
  font-family: inherit;
  font-size: var(--editor-font-size) !important;
  line-height: var(--editor-line-height) !important;
}

.w-md-editor-text-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  resize: none;
  color: inherit;
  overflow: hidden;
  outline: 0;
  padding: inherit;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: transparent;
}

.w-md-editor-text-input:empty {
  -webkit-text-fill-color: inherit !important;
}

.w-md-editor-text-pre,
.w-md-editor-text-input {
  word-break: break-word;
  white-space: pre-wrap;
}

.w-md-editor-text-pre .punctuation {
  color: var(--foreground);
}

.w-md-editor-text-pre .token.title.important {
  color: var(--foreground);
}

.w-md-editor-text-pre .token.bold .content {
  color: var(--green-500) !important;
}

.w-md-editor-text-pre .token.italic .content {
  color: var(--green-500);
}

.w-md-editor-text-pre .token.strike {
  color: var(--red-500);
}

.w-md-editor-text-pre .token.strike .content {
  color: var(--red-500);
  text-decoration-line: line-through;
}

.w-md-editor-text-pre .token.url,
.w-md-editor-text-pre .token.content {
  color: var(--blue-500);
}

.w-md-editor-text-pre .token.code.keyword {
  color: var(--green-500);
}

.w-md-editor-text-pre .token.code .token.code-language {
  color: var(--green-500);
}

.w-md-editor-text-pre .token.code .token.code-block {
  color: var(--foreground);
}

.w-md-editor-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--editor-background-color);
  padding: var(--editor-default-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  flex-wrap: wrap;
}

.w-md-editor-toolbar ul,
.w-md-editor-toolbar li {
  margin: 0;
  padding: 0;
  height: fit-content;
  list-style: none;
  line-height: initial;
}

.w-md-editor-toolbar li {
  display: inline-block;
}

.w-md-editor-toolbar li > button {
  padding: 4px;
  margin: 0 1px;
  border-radius: 4px;
  font-weight: normal;
  overflow: visible;
  cursor: pointer;
  transition: all 0.3s;
  white-space: nowrap;
}

.w-md-editor-toolbar li > button:hover,
.w-md-editor-toolbar li > button:focus {
  background-color: var(--grey-300);
}

.w-md-editor-toolbar-divider {
  height: 28px !important;
  width: 2px;
  margin: 0 8px 0 !important;
  border-radius: 4px;
  background-color: var(--editor-border-color);
}

@media (prefers-color-scheme: dark) {
  .w-md-editor-toolbar li > button:hover,
  .w-md-editor-toolbar li > button:focus {
    background-color: var(--grey-700);
  }
}
